<!DOCTYPE html>
<html>
 <head>
   <title>
      {% block title %}214 15Five{% endblock %}
   </title>
   <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
	<script src="http://yui.yahooapis.com/3.5.0/build/yui/yui-min.js"></script>

	<link href='static/bootstrap/css/bootstrap.css' type='text/css' rel='stylesheet'> 
	<link href='static/styles.css' type='text/css' rel='stylesheet'>
 </head>
 <body>
	<div class='container'>
		<div class="navbar navbar-fixed-top navbar-inner">
		  <div class="navbar-inner1 ">
			<div class="container">
		    	<a class="brand" href="/">Analyze Media Sentiment</a>
					
					
				</ul>
  			</div>
		</div>
	</div>
</div>
   <div id="main" class="container">
			{% block content %}{% endblock %}
	</div>
 </body>
</html>
