{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<br>
<br>
<br>

<form class="" method="post" enctype="multipart/form-data" action="/home">

<input name="searchQ" type="text" placeholder="searchQ" x-webkit-speech/>
<br>
<button type="submit" class="btn btn-info" >	Analyze </button>

</form>

{% for tweet in query[0] %}
<ol class="tweets">

	<h3>{{tweet.created}}</h3>
	{% for tweet in tweet.articles[0] %}
	<li>{{tweet['tweet']}}, <span id="label" class="label label-warning">{{tweet['label']}}</span> ,<span class="label label-info">{{tweet['probability']}}</span></li>
	{% endfor %}
	
</ol>

{% endfor %}




<script>
YUI().use('node', function (Y) {
	var positive = Y.all('#label')
	console.log(positive)
	for (i=0;i<positive.size();i++){
		if (positive['_nodes'][i]['innerHTML'] == "positive") {
			positive['_nodes'][i]['className'] = "badge badge-success"
		};
		if (positive['_nodes'][i]['innerHTML'] == "neutral") {
			positive['_nodes'][i]['className'] = "badge"
		};
		if (positive['_nodes'][i]['innerHTML'] == "negative") {
			positive['_nodes'][i]['className'] = "label label-important"
		};
		
	}

});
</script>




{% endblock %}
